/* Your custom styles */

.foto-principal{
    background-image: url('../img/foto.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 150px;
    height: 150px;

}

.count {
    width: 60px;
    height: 60px;
    background: #95df00;
    border-radius: 100%;
    border: 1px solid #95df00;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: bold;
    font-size: 20px;
    font-family: 'Roboto',sans-serif;
    float: left;
    margin: 30px;
    text-shadow: 1px 1px #464646;
    -webkit-box-shadow: 0px 0px 72px -9px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 72px -9px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 72px -9px rgba(0, 0, 0, 0.75);
}