---
interface Props {
  text: string;
}

const { text } = Astro.props;
---

<div class="mt-6 text-zinc-700 dark:text-zinc-300 text-pretty text-base md:text-lg leading-relaxed">
  <p>
    {text}
  </p>
</div>
