---
import ExperienceItem from "./ExperienceItem.astro";
import type { Job } from "../data/cv";

interface Props {
  experience: Job[];
}

const { experience } = Astro.props;
---

<ol class="relative mt-8">
  {
    experience.map((job) => (
      <li class="">
        <ExperienceItem {...job} />
      </li>
    ))
  }
</ol>
