---
import ExperienceItem from "./ExperienceItem.astro";
const EXPERIENCIE = [
  {
    date: "Jan 2024 - Present",
    title: "Freelancing",
    company: " ",
    description: `Working with ReactJS and NextJS`,
    //link: "",
  },
  {
    date: "Sep 2021 - Ago 2023",
    title: "Software developer",
    company: "AutoScraping Inc.",
    description: `The main features of the fintech web application were developed and optimized, improving speed and usability, which contributed to the company securing a new investment.
Display and manipulation of big volumes of data using JavaScript and PHP were applied to design interactive web apps allowing the users to show their data simply and interactively.
I implemented effective extraction strategies, turning complex data into clear, usable insights.`,
    //link: "",
  },
  {
    date: "Apr 2019 - Sept 2021",
    title: "Frontend Developer",
    company: "IT department of the Government",
    description: `Developed front-end features, data visualizations, and interactive charts that improved user experience and facilitated ease of use for the team, leading to better decision-making.
Built and improved the front end of a payment gateway, making it easier for people to complete their transactions
A Trainee developer was coached and mentored while this in turn positively affected their abilities as well as team progress.`,
  },

  {
    date: "Feb 2017 - Mar 2018",
    title: "Co-founder & Developer",
    company: "",
    description: `Founded a tiny software factory. Served diverse clientele: restaurants, schools, gov't, insurance. Managed client comms, developed VueJS, jQuery, Laravel web apps. Coordinated projects, offered post-dev support. Developed web apps for several areas, delivering customized web systems solutions with PHP, VueJS, NodeJS, Relational databases and API integrations.
Client communication and requirements gathering.
Provided post-development support and enhancements.
Project coordination.`,
  },
  {
    date: "",
    title: "Web Developer",
    company: "UpWork",
    description: `1525 hours worked on UpWork`,
    link: "https://www.upwork.com/freelancers/~01204369a1dafa6cef",
  },
];
---

<ol class="relative mt-16">
  {
    EXPERIENCIE.map((experiencie) => (
      <li class="">
        <ExperienceItem {...experiencie} />
      </li>
    ))
  }
</ol>
